<a href="https://colab.research.google.com/github/Paulo-Ortiz/Aprendizado_Python_Fatec_PP/blob/main/Paulo_Ortiz_241_Est_Repeticao_n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ESTRUTURA DE REPETIÇÃO
##Todos estes algoritmos/programas podem ser implementados com o comando **while** ou **for**. Para estudar, como sugestão, implemente cada exercício com as **duas** estruturas de repetição.

In [ ]:
q_alunos = 1 # 1º passo inicializar
while q_alunos <= 5: # condição de parada
    print(q_alunos)
    # incremento deve ser colocado na última linha
    q_alunos = q_alunos + 1

1
2
3
4
5

###1. Faça um algoritmo  que mostre 10 vezes a frase “Bem vindo a Fatec!”. Pode implementar com o comando while ou for.

In [ ]:
print('Exemplo do while.............\n\n')
# 1º passo - inicialização
contador = 1
# 2º passo - condição/critério de parada
while contador <= 5:
    print(contador, 'Bem vindo a Fatec!')
    contador = contador + 1 # 3º passo - incremento
print('\n\nValor do contador: ', contador)

Exemplo do while.............


1 Bem vindo a Fatec!
2 Bem vindo a Fatec!
3 Bem vindo a Fatec!
4 Bem vindo a Fatec!
5 Bem vindo a Fatec!


Valor do contador:  6

In [ ]:
print('Exemplo do for.............\n\n')
for contador in range(5): #range <
    print(contador,'Bem vindo a Fatec!')
print('\n\nValor do contador: ', contador)

Exemplo do for.............


0 Bem vindo a Fatec!
1 Bem vindo a Fatec!
2 Bem vindo a Fatec!
3 Bem vindo a Fatec!
4 Bem vindo a Fatec!


Valor do contador:  4

###2. Faça um algoritmo que mostre o cumprimento ‘Olá ‘ para o nome de alguém (4 pessoas). Exemplo ‘Olá Mariana’. Pode implementar com o comando while ou for.

In [ ]:
# implemente com a estrutura de repetição while

q_pessoas = 1 #inicialização
while q_pessoas <= 4: # condição de parada
    nome = input('Digite o nome: ')
    print('Olá', nome)
    q_pessoas = q_pessoas + 1 # incremento

Digite o nome: Paulo
Olá Paulo
Digite o nome: Anderson
Olá Anderson
Digite o nome: Yasmin
Olá Yasmin
Digite o nome: Joana
Olá Joana

In [ ]:
# implemente com a estrutura de repetição for
for q_pessoas in range(4): #n-1 <
    nome = input('Digite o nome: ')
    print('Olá', nome)

Digite o nome: Paulo
Olá Paulo
Digite o nome: Anderson
Olá Anderson
Digite o nome: Yasmin
Olá Yasmin
Digite o nome: Joana
Olá Joana

In [ ]:
#>>>>>>>>>>>> forma ERRADA
nome1 = input('Digite o nome ')
print('Olá',nome1,' tudo bem?')
nome2 = input('Digite o nome ')
print('Olá',nome2,' tudo bem?')
nome3 = input('Digite o nome ')
print('Olá',nome3,' tudo bem?')
nome4 = input('Digite o nome ')
print('Olá',nome4,' tudo bem?')

###3. Faça um algoritmo que mostre os valores de 0 a 15. Pode implementar com o comando while ou for.

In [ ]:
# Digite seu código aqui
numero = 0
while numero <= 15:
    print(numero)
    numero = numero + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

###4. Faça um algoritmo que mostre os valores de 3 a 20. Pode implementar com o comando while ou for.

In [ ]:
# Digite seu código aqui
for numero in range(3,21):
    print(numero)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

###5. Faça um algoritmo que calcule e mostre a tabuada do 5. Pode implementar com o comando while ou for.

In [ ]:
# implementação com for
for tabuada in range (11):
    print('5 x', tabuada, '=', 5 * tabuada)

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# implementação com while
tabuada = 1
while tabuada <= 10:
    print('5 x', tabuada, '=', 5 * tabuada)
    tabuada = tabuada + 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Digite seu código aqui
tabuada = 0
while tabuada <= 10:
    tabuada5 = tabuada * 5
    print('Tabuada do 5 .', tabuada, '=', tabuada5)
    tabuada = tabuada + 1

Tabuada do 5 . 0 = 0
Tabuada do 5 . 1 = 5
Tabuada do 5 . 2 = 10
Tabuada do 5 . 3 = 15
Tabuada do 5 . 4 = 20
Tabuada do 5 . 5 = 25
Tabuada do 5 . 6 = 30
Tabuada do 5 . 7 = 35
Tabuada do 5 . 8 = 40
Tabuada do 5 . 9 = 45
Tabuada do 5 . 10 = 50

###6. Faça um algoritmo que receba a idade de 10 pessoas, calcule e exiba a quantidade de pessoas maiores de idade, sendo que a maioridade é obtida após completar 18 anos. Pode implementar com o comando while ou for.

In [ ]:
# Digite seu código aqui
idade = 1
soma = 0
soma2 = 0
while idade <= 10:
    idades = int(input('Digite a idade: '))
    if idades >= 18:
        soma = soma + 1
    elif idades < 18:
        soma2 = soma2 + 1
    idade = idade + 1
if soma >= 1 or soma2 >= 1:
    print('Maiores de 18 anos:',soma, 'pessoa(as)')
    print('Menores de 18 anos:',soma2, 'pessoa(as)')

Digite a idade: 1
Digite a idade: 90
Digite a idade: 90
Digite a idade: 90
Digite a idade: 90
Digite a idade: 90
Digite a idade: 90
Digite a idade: 90
Digite a idade: 90
Digite a idade: 90
Maiores de 18 anos: 9 pessoa(as)
Menores de 18 anos: 1 pessoa(as)

In [ ]:
# Digite seu código aqui com for
soma = 0
soma2 = 0
for idade in range(10):
    idades = int(input('Digite a idade: '))
    if idades >= 18:
        soma = soma + 1
    elif idades < 18:
        soma2 = soma2 + 1
    idade = idade + 1
if soma >= 1 or soma2 >= 1:
    print('Maiores de 18 anos:',soma, 'pessoa(as)')
    print('Menores de 18 anos:',soma2, 'pessoa(as)')

Digite a idade: 33
Digite a idade: 33
Digite a idade: 18
Digite a idade: 18
Digite a idade: 18
Digite a idade: 18
Digite a idade: 18
Digite a idade: 18
Digite a idade: 18
Digite a idade: 18
Maiores de 18 anos: 10 pessoa(as)
Menores de 18 anos: 0 pessoa(as)

In [ ]:
# Digite seu código aqui do while
qpessoas = 1
maior_idade = 0
while qpessoas <= 10:
    idade = int(input('Digite a idade: '))
    if idade >= 18:
        maior_idade = maior_idade + 1
    qpessoas = qpessoas + 1
print('Foram encontrada(as)', maior_idade, 'pessoas.')

Digite a idade: 20
Digite a idade: 20
Digite a idade: 20
Digite a idade: 20
Digite a idade: 20
Digite a idade: 20
Digite a idade: 20
Digite a idade: 20
Digite a idade: 20
Digite a idade: 20
Foram encontrada(as) 10 pessoas.

In [ ]:
# Digite seu código aqui com for
maior_idade = 0
for qpessoas in range(10):
    idade = int(input('Digite a idade: '))
    if idade >= 18:
        maior_idade = maior_idade + 1
print('Foram encontrada(as)', maior_idade, 'pessoas.')

Digite a idade: 20
Digite a idade: 20
Digite a idade: 20
Digite a idade: 20
Digite a idade: 20
Digite a idade: 20
Digite a idade: 20
Digite a idade: 20
Digite a idade: 20
Digite a idade: 20
Foram encontrada(as) 10 pessoas.

###7. Escreva um algoritmo que receba 23 números, calcule e exiba a quantidade de números pares e impares. Pode implementar com o comando while ou for.

In [ ]:
# Digite seu código aqui com while
numeros = 1
pares = 0
impares = 0
while numeros <= 23:
    numero = int(input('Informe o números: '))
    if numero %2 ==0:
        pares = pares + 1
    else:
        impares = impares + 1
    numeros = numeros + 1
print('Existem',pares, 'números pares')
print('Existem',impares, 'números impares')

Informe o números: 1
Informe o números: 2
Informe o números: 3
Informe o números: 4
Informe o números: 5
Informe o números: 6
Existem 3 números pares
Existem 3 números impares

In [ ]:
# Digite seu código aqui com for
pares = 0
impares = 0
for numeros in range (23):
    numero = int(input('Informe o números: '))
    if numero %2 ==0:
        pares = pares + 1
    else:
        impares = impares + 1
print('Existem',pares, 'números pares')
print('Existem',impares, 'números impares')

Informe o números: 1
Informe o números: 2
Informe o números: 3
Informe o números: 4
Informe o números: 5
Informe o números: 6
Existem 3 números pares
Existem 3 números impares

###8. Faça um algoritmo que calcule e exiba o salário reajustado de dez funcionários de acordo com a seguinte regra (pode implementar com o comando while ou for):
## Salário até 300, reajuste de 50%;

##Salários maiores que 300, reajuste de 30%.

In [ ]:
# Digite seu código com while
contador = 1
while contador <= 10:
    funcionario = str(input('Informe o nome do funcionário: '))
    salario = float(input('Informe o salário: '))
    if salario <= 300:
        reajuste = salario + (salario * 0.5 )
        nome = funcionario
        print('O novo salário reajustado de',nome, 'é R$', reajuste)
    else:
        reajuste = salario + (salario * 0.3 )
        nome = funcionario
        print('O novo salário reajustado de',nome, 'é R$', reajuste)
    contador = contador + 1

Informe o nome do funcionário: Paulo
Informe o salário: 2000
O novo salário reajustado de Paulo é R$ 2600.0
Informe o nome do funcionário: Mari
Informe o salário: 300
O novo salário reajustado de Mari é R$ 450.0
Informe o nome do funcionário: Val
Informe o salário: 1500
O novo salário reajustado de Val é R$ 1950.0

In [ ]:
# Digite seu código com for
for contador in range(10):
    funcionario = str(input('Informe o nome do funcionário: '))
    salario = float(input('Informe o salário: '))
    if salario <= 300:
        reajuste = salario + (salario * 0.5 )
        nome = funcionario
        print('O novo salário reajustado de',nome, 'é R$', reajuste)
    else:
        reajuste = salario + (salario * 0.3 )
        nome = funcionario
        print('O novo salário reajustado de',nome, 'é R$', reajuste)

Informe o nome do funcionário: Paulo
Informe o salário: 2000
O novo salário reajustado de Paulo é R$ 2600.0
Informe o nome do funcionário: Mari
Informe o salário: 200
O novo salário reajustado de Mari é R$ 300.0
Informe o nome do funcionário: Val
Informe o salário: 1000
O novo salário reajustado de Val é R$ 1300.0


###9. Faça um algoritmo que conheça 4 preços de produtos, some-os e mostre o resultado. Pode implementar com o comando while ou for.

In [ ]:
# Digite seu código aqui com while
qprodutos = 0
soma_precos = 0
while qprodutos < 4:
    preco = float(input('Digite o preço: '))
    soma_precos = soma_precos + preco
    qprodutos = qprodutos + 1
print('Total R$', soma_precos)

Digite o preço: 1
Digite o preço: 2
Digite o preço: 3
Digite o preço: 4
Total R$ 10.0

In [ ]:
# Digite seu código aqui com for
soma_precos = 0
for qprodutos in range(4):
    preco = float(input('Digite o preço: '))
    soma_precos = soma_precos + preco
print('Total R$', soma_precos)

Digite o preço: 1
Digite o preço: 2
Digite o preço: 3
Digite o preço: 4
Total R$ 10.0

###10. Faça um algoritmo que conheça 4 preços de produtos, calcule e mostre a média aritmética dos preços. Pode implementar com o comando while ou for.

In [ ]:
# Digite seu código aqui com while
qprodutos = 0
soma_precos = 0
divisao = 0
while qprodutos < 4:
    preco = float(input('Digite o preço: '))
    soma_precos = soma_precos + preco
    qprodutos = qprodutos + 1
divisao = soma_precos / 4
print('A média dos preços é R$', divisao)

Digite o preço: 1
Digite o preço: 2
Digite o preço: 3
Digite o preço: 4
A média dos preços é R$ 2.5

In [ ]:
# Digite seu código aqui com for
soma_precos = 0
divisao = 0
for qprodutos in range(4):
    preco = float(input('Digite o preço: '))
    soma_precos = soma_precos + preco
divisao = soma_precos / 4
print('A média dos preços é R$', divisao)

Digite o preço: 1
Digite o preço: 2
Digite o preço: 3
Digite o preço: 4
A média dos preços é R$ 2.5

###11. Faça um algoritmo que calcule e informe a média de idades de 5 alunos. Pode implementar com o comando while ou for.

In [ ]:
# Digite seu código aqui
contador = 1
soma = 0
while contador <= 5:
    idades = int(input('Informe a idade: '))
    soma = soma + idades
    contador = contador + 1
media_idades = soma / 5
print('A média de idade dos 5 alunos é de', media_idades, 'ano(s)')

Informe a idade: 10
Informe a idade: 20
Informe a idade: 30
Informe a idade: 40
Informe a idade: 50
A média de idade dos 5 alunos é de 30.0 ano(s)

###12. Faça um programa que receba a idade e a altura de 20 pessoas. Calcule e exiba a média das alturas das pessoas com mais de 20 anos.

In [ ]:
# Digite seu código aqui
contador = 1
soma_idades = 0
soma_alturas = 0
while contador <= 5:
    idade = int(input('Informe a idade: '))
    altura = float(input('Informa a altura: '))
    if idade > 20:
        soma_idades = soma_idades + 1
        soma_alturas = soma_alturas + altura
    contador = contador + 1
if idade > 20:
    media_pessoas = soma_alturas / soma_idades
    print('A média de altura das pessoas com mais de 20 anos é:', media_pessoas, 'metros')
else:
    print('Não existem pessoas com mais de 20 anos')

Informe a idade: 21
Informa a altura: 1
Informe a idade: 21
Informa a altura: 2
Informe a idade: 21
Informa a altura: 3
Informe a idade: 21
Informa a altura: 4
Informe a idade: 21
Informa a altura: 5
A média de altura das pessoas com mais de 20 anos é: 3.0 metros

###13. Faça um algoritmo que leia o preço de 20 TV, determine e apresente a média dos preços que possuem valor maior que R$ 1000. Pode implementar com o comando while ou for.

In [ ]:
# Digite seu código com while
qpessoas = 0
soma_precos = 0
contador_tv = 0
while qpessoas < 5:
    preco = float(input('Informe o preço R$ '))
    if preco > 1000:
        soma_precos = soma_precos + preco #variável somatória
        contador_tv = contador_tv + 1 #variável contadora
    qpessoas = qpessoas + 1
if contador_tv > 0:
    media = soma_precos / contador_tv
    print(f'A média de valores é R$ {media:.2f}')
else:
    print('Não foram encontradas Tvs com preço maior que R$1000.')

Informe o preço R$ 1
Informe o preço R$ 1
Informe o preço R$ 1
Informe o preço R$ 1
Informe o preço R$ 1
Não foram encontradas Tvs com preço maior que R$1000.

###14. Faça um programa que receba a altura e nome  de 5 pessoas. Encontre e apresente a altura da pessoa mais alta e da mais baixa e seus respectivos nomes.

In [ ]:
# Digite seu código aqui no while
contador = 0
while contador < 5:
    nome = input('Digite o nome: ')
    altura = float(input('digite a altura: '))
    if contador == 0: #inicializar as variáveis de resposta
        #apenas quando o contador for zero
        alto = altura
        baixo = altura
        nome_alto = nome
        nome_baixo = nome
    if altura > alto:
        alto = altura
        nome_alto = nome
    if altura < baixo:
        baixo = altura
        nome_baixo = nome
    contador = contador + 1
print('Alto: ',nome_alto,' - ', alto, 'metros')
print('Baixo: ',nome_baixo,' - ', baixo, 'metros')

Digite o nome: Paulo
digite a altura: 1.79
Digite o nome: Mari
digite a altura: 1.60
Digite o nome: Dersim
digite a altura: 2.00
Alto:  Dersim  -  2.0 metros
Baixo:  Mari  -  1.6 metros

In [ ]:
# Digite seu código aqui no for
for contador in range(5):
    nome = input('Digite o nome: ')
    altura = float(input('digite a altura: '))
    if contador == 0: #inicializar as variáveis de resposta
        #apenas quando o contador for zero
        alto = altura
        baixo = altura
        nome_alto = nome
        nome_baixo = nome
    if altura > alto:
        alto = altura
        nome_alto = nome
    if altura < baixo:
        baixo = altura
        nome_baixo = nome
print('Alto: ',nome_alto,' - ', alto, 'metros')
print('Baixo: ',nome_baixo,' - ', baixo, 'metros')

Digite o nome: Paulo
digite a altura: 1.79
Digite o nome: Mari
digite a altura: 1.65
Digite o nome: Dersim
digite a altura: 2.0
Alto:  Dersim  -  2.0 metros
Baixo:  Mari  -  1.65 metros

###15. Faça um programa que receba dez valores inteiros, encontre e apresente o maior e o menor valor.

In [ ]:
# Digite seu código aqui
contador = 0
while contador <= 9:
    valores = int(input('Digite o valor: '))
    if contador == 0:
        valor_alto = valores
        valor_baixo = valores
    if valores > valor_alto:
        valor_alto = valores
    if valores < valor_baixo:
        valor_baixo = valores
    contador = contador + 1
print('O maior valor digitado é: ', valor_alto)
print('O menor valor digitado é: ', valor_baixo)

Digite o valor: 5
Digite o valor: 900
Digite o valor: 50
Digite o valor: 3
Digite o valor: 10000
Digite o valor: 1000
Digite o valor: 33
Digite o valor: 60
Digite o valor: 90
Digite o valor: 11
O maior valor digitado é:  10000
O menor valor digitado é:  3

###16. Os alunos do primeiro módulo farão a P1 da disciplina de Algoritmo. Crie um algoritmo que leia as 40 notas e RAs, encontre e apresente a maior, a menor e os respectivos RAs desses alunos.

In [ ]:
# Digite seu código aqui
contador = 0
while contador <= 5:
    notas = float(input('Digite a respectiva nota do aluno: '))
    ra = int(input('Digite o respectivo RA do aluno: '))
    if contador == 0:
        maior_nota = notas
        menor_nota = notas
        ra_alto = ra
        ra_baixo = ra
    if notas > maior_nota:
        maior_nota = notas
        ra_alto = ra
    if notas < menor_nota:
        menor_nota = notas
        ra_baixo = ra
    contador = contador + 1
print('A maior nota é:',maior_nota,'e seu respectivo RA é:',ra_alto)
print('A menor nota é:',menor_nota,'e seu respectivo RA é:',ra_baixo)

Digite a respectiva nota do aluno: 10
Digite o respectivo RA do aluno: 100
Digite a respectiva nota do aluno: 15
Digite o respectivo RA do aluno: 400
Digite a respectiva nota do aluno: 0.2
Digite o respectivo RA do aluno: 500
Digite a respectiva nota do aluno: 20
Digite o respectivo RA do aluno: 10
Digite a respectiva nota do aluno: 0.3
Digite o respectivo RA do aluno: 4000
A maior nota é: 20.0 e seu respectivo RA é: 10
A menor nota é: 0.2 e seu respectivo RA é: 500

###17. Faça um programa que calcule e apresente as tabuadas do 3 ao 7. Este exercício utiliza DUAS estruturas de repetição.

In [ ]:
# exemplo com for
for tabuada in range(3,8):
    for contador in range(1,11):
        print(tabuada, 'x', contador, '=', tabuada * contador)
    print()

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
# exemplo com while e for
tabuada = 3
while tabuada <= 7:
    for contador in range(1,11):
        print(tabuada, 'x', contador, '=', tabuada * contador)
    print()
    tabuada = tabuada + 1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

###18. Faça um programa para o curso de ADS (6 módulos), cada sala tem 30 alunos, calcule e apresente os seguintes itens:
*  Quantidade de homens e mulheres de cada módulo;
*  Média de idades de cada módulo;
*  Quantidade de homens e mulheres do curso todo;
*  Média de idades do curso todo.

Observação: este exercício utiliza DUAS estruturas de repetição.

In [ ]:
feminino_curso = 0
masculino_curso = 0
idades_total = 0
for modulo in range(1,7):
    print(modulo,'º módulo','.'*50)
    feminino = 0
    masculino = 0
    soma_idades = 0
    for alunos in range(1,3):
        genero = input('Cadastre o gênero M/F: ')
        idade = int(input('Informe a idade: '))
        if genero == 'F' or genero == 'f':
            feminino = feminino + 1 #contador do módulo atual
            soma_idades = soma_idades + idade
        elif genero == 'M' or genero == 'm':
            masculino = masculino + 1
            soma_idades = soma_idades + idade
    media_modulo = soma_idades / (feminino + masculino)
    print('Foram encontrados', masculino, 'homem(s).')
    print('Foram encontradas', feminino, 'mulher(es).')
    print('A média de idade dos alunos para esse módulo é de', media_modulo, 'anos')
    feminino_curso = feminino_curso + feminino
    masculino_curso = masculino_curso + masculino
    idades_total = idades_total + soma_idades
    media_curso = idades_total / (feminino_curso + masculino_curso)
print('.'*61)
print('.'*16,'Informações finais do curso','.'*16)
print('.'*61)
print('A quantidade de homens no curso todo é de', masculino_curso, 'homens')
print('.'*61)
print('A quantidade de mulheres no curso todo é de', feminino_curso, 'mulheres')
print('.'*61)
print('A média de idade dos alunos no curso todo é de', media_curso, 'anos')

1 º módulo ..................................................
Cadastre o gênero M/F: f
Informe a idade: 33
Cadastre o gênero M/F: f
Informe a idade: 33
Foram encontrados 0 homem(s).
Foram encontradas 2 mulher(es).
A média de idade dos alunos para esse módulo é de 33.0 anos
2 º módulo ..................................................
Cadastre o gênero M/F: f
Informe a idade: 33
Cadastre o gênero M/F: f
Informe a idade: 33
Foram encontrados 0 homem(s).
Foram encontradas 2 mulher(es).
A média de idade dos alunos para esse módulo é de 33.0 anos
3 º módulo ..................................................
Cadastre o gênero M/F: f
Informe a idade: 33
Cadastre o gênero M/F: f
Informe a idade: 33
Foram encontrados 0 homem(s).
Foram encontradas 2 mulher(es).
A média de idade dos alunos para esse módulo é de 33.0 anos
4 º módulo ..................................................
Cadastre o gênero M/F: f
Informe a idade: 33
Cadastre o gênero M/F: f
Informe a idade: 33
Foram encontrados 0 homem(s).
Foram encontradas 2 mulher(es).
A média de idade dos alunos para esse módulo é de 33.0 anos
5 º módulo ..................................................
Cadastre o gênero M/F: f
Informe a idade: 33
Cadastre o gênero M/F: f
Informe a idade: 33
Foram encontrados 0 homem(s).
Foram encontradas 2 mulher(es).
A média de idade dos alunos para esse módulo é de 33.0 anos
6 º módulo ..................................................
Cadastre o gênero M/F: f
Informe a idade: 33
Cadastre o gênero M/F: f
Informe a idade: 33
Foram encontrados 0 homem(s).
Foram encontradas 2 mulher(es).
A média de idade dos alunos para esse módulo é de 33.0 anos
.............................................................
................ Informações finais do curso ................
.............................................................
A quantidade de homens no curso todo é de 0 homens
.............................................................
A quantidade de mulheres no curso todo é de 12 mulheres
.............................................................
A média de idade dos alunos no curso todo é de 33.0 anos

In [ ]:
for modulo in range(1,7):
    print(modulo,'º módulo','.'*50)
    # contar genero feminino = 0
    for alunos in range(1,3):
        # digitar os dados dos alunos
        genero = input('Cadastre o gênero M/F: ')
        if genero == 'F' or genero == 'f':
            # contar genero feminino
        #...
    # mostrar resultados de cada módulo
    # acumular valores para o curso
# mostrar resultados do curso

1 º módulo ..................................................



2 º módulo ..................................................



3 º módulo ..................................................



4 º módulo ..................................................



5 º módulo ..................................................



6 º módulo ..................................................